<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Estados</title>
		<link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/lux/bootstrap.min.css">
		<link rel="shortcut icon" type="image/png" href="https://img.icons8.com/nolan/64/000000/search.png" />	
	</head>
	<body>
		<nav class="navbar navbar-dark " style="background-color: #263238">
			<a href="/" class="navbar-brand "></a>
			<a href="/" class="navbar-brand" style="color:white;">Catálogo de Estados</a>
			<a href="/" class="navbar-brand "></a>	
		</nav>